body {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    margin: auto;
    max-width: 50em;
}

#page-title {
    text-align: center;
}

#page-title h1 a, .post a {
    color: black;
}

#author-name h6 a {
  color: black;
  font-weight: normal;
  font-size: small;
}

a {
    text-decoration: none;
}

#page-title a:hover, .post a:hover {
    text-decoration: underline;
}

.date-time-title {
    font-family: 'Ubuntu Mono', sans-serif;
    /* display: inline-block; */
}

/* #posts {
    padding-left: 2em;
    padding-bottom: 0.5em;
} */

/* .post {
    padding-left: 1em;
} */

/* .blog-post {
    padding-left: 1em;
} */

.blog-post-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  white-space: pre;
  overflow-x: auto;
}

pre {
  overflow-x: auto;
  margin: 0 2px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  border: 1px solid lighten(#111, 90);
  background-color: #efefef
}

footer  {
  text-align: center;
}
